// Specific CSS for your home-page
.banner {
  background-image: url("bike_picture.jpg");
  background-size: cover;
  background-position: center;
  font-size: 100px;
  height: 400px;
  text-align: center;
  object-fit: cover;
}

.banner h1 {
  margin: 0;
  padding: 80px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container {
  display: flex;
  justify-content: center;
}

.container-card {
  display: flex;
  justify-content: center;
  margin: 25px 25px;
}

.card {
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.fas {
  font-size: 50px;
  text-align: center;
  color: grey;
  padding: 20px;
}

.fab {
  font-size: 30px;
  text-align: center;
  color: grey;
  padding: 10px;
}

.far {
  font-size: 30px;
  text-align: center;
  color: grey;
  padding: 10px;
}
