// Import page-specific CSS files here.
@import "home";
@import "show";


.price{
  color: red;
}

.bike:hover{
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
  text-decoration: none;
}

.bike-img{
  max-width: 100%;
  object-fit: cover ; /* Do not scale the image */
  object-position: center;
}
