.page-container{
  position: relative;
}



.card-bike {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  margin: 25px 25px;
  padding: 50px;
}

.card-bike > img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-bike h2 {
  font-size: 16px;
  color: grey;
  font-weight: bold;
  margin: 0;
}

.card-bike p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-bike-infos .card-bike-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-card {
  display: flex;
  justify-content: center;
  margin: 25px 25px;
   img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Do not scale the image */
    object-position: center;
  }
}
