<div class="wrapper">
  <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="push"></div>
</div>

<footer class="footer">
  <h4>get in touch</h4>
  <a href="#"><i class="fab fa-twitter-square"></i></a>
  <a href="#"><i class="fab fa-facebook-square"></i></a>
  <a href="#"><i class="fab fa-twitter-square"></i></a>
  <a href="#"><i class="fab fa-instagram-square"></i></a>
  <a href="#"><i class="far fa-envelope"></i></a>
</footer>
