<% content_for :navbar do %>
   <div class="empty"></div>
<% end %>
  <div class="container-banner">
    <div class="banner">
      <h1>Rent your dream bike</h1>
    <div class="btn btn-outline-dark">
      <h3>Go to bikes</h3>
    </div>
    <div class="btn btn-outline-info">
      <h3>Become a renter</h3>
    </div>
  </div>
</div>

<div class="container-card">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src=<%= asset_path("bike_black") %> alt="Card image bike 1">
      <i class="fas fa-bicycle"></i>
      <div class="card-body">
        <h5 class="card-title">Earn extra money with your bikes</h5>
        <p class="card-text">As a simple add on you will make the world a bit greener by renting out your own bikes!</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=<%= asset_path("bike_picture_three") %> alt="Card image bike 2">
      <div class="card-body">
        <h5 class="card-title btn btn-outline-dark">Go to bikes</h5>
        <p class="card-text">Rent different bikes for different needs!</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=<%= asset_path("bike_black_two") %> alt="Card image bike 3">
      <i class="fas fa-globe-europe"></i>
      <div class="card-body">
        <h5 class="card-title">Try out the biggest bike renting platform</h5>
        <p class="card-text">Easily choose and return your favorite bike near to your location!</p>
      </div>
    </div>
  </div>
