<div class="card-bike">
  <img src=<%= asset_path("bike_orange") %> alt="Picture of your bike">
  <div class="card-bike-infos">
    <div>
      <h2>Name/Type of the bike</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">€ 2 per day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="container-card">
  <div class="card-deck">
    <div class="card">
      <i class="fas fa-bicycle"></i>
      <div class="card-body">
      <h5 class="card-title">Price per day</h5>
      <p class="card-text">Pick your dates</p>
  </div>
</div>
