.primary-button{
  border: 3px solid #FFCE5C;
  border-radius: 5px;
  margin: 10px;
  padding: 6px 12px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 2px 2px 2px #666666;
  font-size: 20px;
  transition: 0.3s;
  color: #FFCE5C;


  .a-white{
  color: #FFCE5C;
  }
}

.primary-button:hover{
  padding: 6px 12px;
  display: inline-block;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  background-color: #FFCE5C;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  font-size: 20px;
  color: white;

  .a-white{
  color: white;
  }
}


.secondary-button{
  border: 3px solid #666666;
  padding: 6px 12px;
  display: inline-block;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  font-size: 20px;
  transition: 0.3s;
  color: #666666;

  .a-white{
  color: #666666;
  }
}

.secondary-button:hover{
  padding: 6px 12px;
  display: inline-block;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  background-color: #666666;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  font-size: 20px;
  color: white;

  .a-white{
  color: white;
  }
}

