// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "button";


.flex-container {
  margin: 30px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px
}

.card {
  list-style: none;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 20px 20px;
  width: 300px;
  margin: 0 auto;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  height: min-content;

  h5 {
    margin-top: 10px;
  }

  }

  .card-deck{
    img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill ; /* Do not scale the image */
    object-position: center;
  }

  .show-bikeB{
    width: 100%;
    /*justify-content: flex-end;*/
  }
}

.title{
  padding-top: 10px;
  margin: 0, auto;
}

.description{
  padding-top: 10px;
}

.index-container {
  display: flex;
  flex-direction: row;
}
