.form-pop-up{
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  overflow: hidden;
}

.form-pop-up:hover{
  box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
}


