.popup{
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  overflow: hidden;
  position: absolute;
  z-index: 1;
  background-color: white;
  right: 20px;
}

.popup:hover{
  box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
}


